# Source files
*.ps1      text eol=crlf
*.ps1x     text eol=crlf
*.psm1     text eol=crlf
*.psd1     text eol=crlf
*.ps1xml   text eol=crlf
*.pssc     text eol=crlf
*.psrc     text eol=crlf
*.cdxml    text eol=crlf
*.cmd      text eol=crlf
*.bat      text eol=crlf
*.md       text eol=crlf
*.sh       text eol=lf